*{
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #222;
  
}



#badabox{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto auto;
  
  padding: 20px;    
   

    .box{
        height: 300px;
        width: 200px;
        border: 2px solid rgb(184, 149, 149);
        
    }
}


.box img{
    height: 300px;
    width: 200px;
    object-fit: cover;
}
p{
    color: white;
}

#para1, #para2{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 30px;

}

img{    
    height: 400px;
    width: 400px;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
  
    #badabox{
        grid-template-columns: auto auto auto ;
        flex-direction: column;
        row-gap: 30px;
    }
    

    #para1, #para2{
         flex-direction: column; 
         text-align: center;   
       
    }
    p{
        font-size: 15px;
        line-height: 2;
        text-align: center;
        padding: 12px 30px;
    }

    

    #h1{
        width: 60%;
        padding: 12px 30px;
        align-items: center;
       font-family: 20px;
    }


}







@media screen and (min-width: 400px) {
  
    #badabox{
        grid-template-columns: auto;
         flex-direction: column;
        row-gap: 20px;
    }

    #para1, #para2{
         flex-direction: column;    
       
    }
    p{
        font-size: 15px;
        line-height: 2;
    }

    img{
        width: 250px;
        height: 250px;
    }

    

}














































 